.left-aside {
  overflow: auto;
  background-color: #f3f5f7;
  .row {
    margin-bottom: 46px;
    .titel {
      display: flex;
      margin-left: 24px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      line-height: 30px;
      .heart {
        height: 19px;
        width: 20px;
        margin-right: 12px;
        margin-top: 5px;
        cursor: pointer;
      }
      a {
        color: #2b2c2d;
        text-decoration: none;
        display: flex;
      }
      .color-point {
        color: #1163f8;
      }
    }
  }
  .colom {
    .nav-links {
      cursor: pointer;
      color: #696969;
      line-height: 60px;
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      margin-left: 32px;
      a:first-child{
        color: #1163f8;
      }
      svg {
        margin-right: 16px;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
          color: #1163f8;
          path {
            fill: #1163f8;
          }
        }
      }
    }
  }
  .card {
    margin-top: 80px;
    width: 66%;
    margin-left: 40px;
    .profile {
      border-radius: 50%;
      margin-left: 88px;
      margin-bottom: -90px;
      position: relative;
    }
    .image {
      background-image: url(../img/card/hand.jpg);
      width: 177px;
      height: 210px;
      margin-left: 34px;
      .overlay {
        width: 177px;
        height: 210px;
        background: rgba(17, 99, 248, 0.94);
        border-radius: 8px;
      }
    }
    .text-nrl {
      margin-left: 32px;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 120%;
      color: white;
      margin-top: -100px;
      margin-left: 65px;
      text-indent: 7px;
    }
    .btn-1 {
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 15px;
      margin-top: 17px;
      margin-left: 61px;
      padding: 7px 24px 7px 23px;
      background-color: #fff;
      span {
        color: #1163f8;
      }
    }
  }
  .logout-btn {
    margin-left: 32px;
    margin-top: 100px;
    svg {
      margin-bottom: -22px;
      margin-left: 15px;
    }
    .btn {
      border-radius: 8px;
      margin-left: -80px;
      border: none;
      outline: none;
      padding: 7px 24px 7px 23px;
      background: none;
      cursor: pointer;
    }
    p {
      color: #ff6751;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 24px;
      margin-left: 38px;
    }
  }
}
